<p id="a_z_links">
  <strong id="a_z_links_label">eJournal titles:</strong>
  <span id="a_z_links_content">
    <% (("A".."Z").to_a + ["0-9"]).each do |starts_with| %>
      <%= link_to(starts_with, catalog_index_path(:f => {:starts_with_facet => [starts_with]}, :sort => "title_sort asc, score desc")) %>
    <% end %>
  </span>
</p>