<!-- <h3>Welcome!</h3>
<p>To modify this text to your specifications, copy this file located in the blacklight plugin directory:<br/>
&nbsp;&nbsp;&nbsp;<%= Blacklight.root %>/app/views/catalog/_home_text.html.erb</p>
<p>to your top level rails app:<br/>
&nbsp;&nbsp;&nbsp;<%= Rails.root %>/app/views/catalog/_home_text.html.erb</p>
Note that you will need to create the 'catalog' directory under views.
-->

<ul>
  <li>Find electronic versions of journals, magazines and newspapers available to the Notre Dame Community.</li>
  <li>All versions of journals (print and electronic) can be located using the Library Catalog.</li>
  <li>Systematic downloading of articles or redistribution to non-subscribers is prohibited by licensing agreements. Please read our Acceptable Use Policy.</li>
</ul>