<br>
<ul>
  <li>Find electronic versions of journals, magazines and newspapers available to the Notre Dame Community.</li>
  <li>All versions of journals (print and electronic) can be located using the <%= link_to("Library Catalog", "http://onesearch.library.nd.edu/primo_library/libweb/action/search.do?vid=NDU&resetConfig=true&tab=nd_campus&fn=search&fctN=facet_rtype&fctV=journals") %>.</li>
  <li>Systematic downloading of articles or redistribution to non-subscribers is prohibited by licensing agreements. Please read our <%= link_to("Acceptable Use Policy", "http://www.library.nd.edu/eresources/access/acceptable_use.shtml") %>.</li>
</ul>