h1.site_title {
  background: none;
  height: auto;
  width: auto;
}

h1.site_title a {
  text-indent: 0;
  height: auto;
  width: auto;
}


body {
  color: #333333;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 13px;
  line-height: 18px;
  margin: 0;
  padding: 0;
  background: #2B5781;
}

#search {
  font-size: inherit;
}

.show {
  text-align: left;
  cursor: auto;
  border-bottom: none;
}

.child_facet {
  font-size: 0.85em;
  margin-left: 1em !important;
}

.hide_facet {
  display:none;
}

#appliedParams .label {
  display:none;
}

#facets .twiddle {
  background: url("/assets/icon_open_subMenu.png") no-repeat scroll right 12px transparent;
}

#facets .twiddle.twiddle-open {
  background: url("/assets/icon_close_subMenu.png") no-repeat scroll right 12px transparent;
}

#facets h3 {
  border-bottom: 1px solid #CCCCCC;
  font-weight: bold;
  margin: 0;
  padding: 6px 0;
}

#facets a {
  font-weight: normal;
}

#hd #user_util_links {
  margin-top: 18px;
}
