.old-styles {
  #main {
    min-height: 250px;
  }

  #facets .label {
    background: none;
    border-radius: 0;
    padding: 0;
    font-size: 12px;
    line-height: 14px;
    text-shadow: none;
    white-space: normal;
  }

  label {
    display: inline;
    margin: 0;
  }

  label input, label textarea, label select {
    display: inline;
  }

  select, input {
    width: auto;
  }

  form {
    margin: 0;
  }

  .pagination {
    margin: 0;
  }

  dl.defList dt {
    padding: 2px 5px 2px 0;
    width: 20%;
  }

  dl.defList dd {
    width: 78%;
  }

  dl.defList dt {
    /* Firefox */
    width: -moz-calc(75px);
    /* WebKit */
    width: -webkit-calc(75px);
    /* Opera */
    width: -o-calc(75px);
    /* Standard */
    width: calc(75px);
  }

  dl.defList dd {
    /* Firefox */
    width: -moz-calc(100% - 80px);
    /* WebKit */
    width: -webkit-calc(100% - 80px);
    /* Opera */
    width: -o-calc(100% - 80px);
    /* Standard */
    width: calc(100% - 80px);
  }



  input, textarea, select, .uneditable-input {
    margin-bottom: 0;
  }

  #search .submit {
    height: 28px;
    padding: 4px;
    margin: 0;
  }

  .pagination {
    height: auto;
  }

  .pagination a {
    border: none;
    line-height: inherit;
    float: none;
  }

  #a_z_links {
    font-size: 11px;
  }
  #a_z_links_content {
    white-space: nowrap;
  }

  @media only screen and (max-width: 685px) {
    #bd #main {
      /* Firefox */
      width: -moz-calc(100% - 187px);
      /* WebKit */
      width: -webkit-calc(100% - 187px);
      /* Opera */
      width: -o-calc(100% - 187px);
      /* Standard */
      width: calc(100% - 187px);
    }

    #bd #sidebar {
      /* Firefox */
      width: -moz-calc(175px);
      /* WebKit */
      width: -webkit-calc(175px);
      /* Opera */
      width: -o-calc(175px);
      /* Standard */
      width: calc(175px);
    }

    #search #q {
      width: 100px;
    }

    #search #q {
      /* Firefox */
      width: -moz-calc(100% - 150px);
      /* WebKit */
      width: -webkit-calc(100% - 150px);
      /* Opera */
      width: -o-calc(100% - 150px);
      /* Standard */
      width: calc(100% - 150px);
    }



    #search #q + label {
      display: none;
    }

    .pageEntriesInfo {
      text-align: left;
    }

    .pagination-container .prev_page, .pagination-container .next_page {
      position: inherit;
      margin: 0;
      padding: 0;
    }

    .pagination-container .next_page {
      float: right;
    }

    .page_links {
      clear: both;
      margin: 0;
    }

    /* Hide all but the first two details from the search results */
    .defList > dt:nth-of-type(n+3) {
      display: none;
    }
    .defList > dd:nth-of-type(n+3) {
      display: none;
    }
  }

  @media only screen and (max-width: 580px) {
    #bd #main {
      float: none;
      width: 100%;
      padding: 0;
    }

    #bd #sidebar {
      float: none;
      width: 100%;
      padding: 0;
    }

    #hd {
      margin: 0;
    }
    #hd #user_util_links {
      clear: both;
      margin-top: 0;
      margin-bottom: 6px;
    }

    #facets h2 {
      margin-bottom: 0;
    }

    dl.defList dt {
      width: 25%;
    }

    dl.defList dd {
      width: 73%;
    }

    dl.defList dt {
      /* Firefox */
      width: -moz-calc(75px);
      /* WebKit */
      width: -webkit-calc(75px);
      /* Opera */
      width: -o-calc(75px);
      /* Standard */
      width: calc(75px);
    }

    dl.defList dd {
      /* Firefox */
      width: -moz-calc(100% - 80px);
      /* WebKit */
      width: -webkit-calc(100% - 80px);
      /* Opera */
      width: -o-calc(100% - 80px);
      /* Standard */
      width: calc(100% - 80px);
    }
  }

  @media only screen and (max-width: 450px) {
    #hd #user_util_links {
      font-size: 9px;
      float: left;
    }

    #a_z_links {
      font-size: 9px;
    }
  }
}
