<h4>
  <a href="/">Hesburgh Libraries</a>
</h4>
<h3 class="hide-on-phones">
    <a href="http://nd.edu/">University of Notre Dame</a>
</h3>
<a href="#" class="show-on-phones search-toggle btn">&#76;</a>
<div class="header_search closed">
  <form id="myform" name="myform" accept-charset="utf-8" enctype="application/x-www-form-urlencoded" method="get" action="http://search.nd.edu/search">
    <fieldset>
      <span class="legend">Website search</span>
      <input type="text" accesskey="s" onkeydown="" value="" name="q" id="search_field" class="srch-box long" tabindex="11" style="width: 143px; opacity: 0.7;">
      <input type="hidden" value="lib_site_srch" name="proxystylesheet" id="proxystylesheet">
      <input type="hidden" value="xml_no_dtd" name="output" id="output">
      <input type="hidden" value="lib_site_srch" name="client" id="client">
      <input type="hidden" value="library" name="site" id="site">
      <button class=" btn" type="submit"><!--Search--> »</button>
    </fieldset>
  </form>
</div>