<div id="tab_box" class="search-appliance">
  <div id="search_box">
    <ul class="tabs-content contained">
      <li class="active tab_jou" id="tab_jouTab">
        <%= render_search_bar %>

        <ul class="extra-links">
          <li><a href="http://library.nd.edu/eresources/ejournals/alljournals">All journals</a></li>
        </ul>
        <p class="about-tab">
          <a data-reveal-id="about-ejournals">About eJournals</a>
        </p>
      </li>
    </ul>
  </div>
</div>
<div id="about-ejournals" class="reveal-modal large" style="top: 100px; opacity: 1; visibility: hidden;">
  <h2>About finding eJournals</h2>
  <p>Find eJournals by all or part of the eJournal's title. The eJournal search lets you:</p>
  <ul>
    <li>browse for eJournals' titles by letter of the alphabet or by category</li>
    <li>search for all journals (not just electronic journals)</li>
    <li>find eJournals in eJournal collections, which group eJournals by subject or provider</li>
  </ul>
</div>
